<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand mb-0 h1 font-weight-bold mr-auto">Obenelhadjdjelloul Blog</a>
        <% if(locals.sess){%>
        <a href="/logout">logout</a>

        <%}%>
        <a href="https://www.instagram.com/obenelhadjdjelloul/" class="text-white btnView p-2">
            Contact me to publish your article
        </a>
    </nav>